body {
  font-family: 'Old Standard TT', serif!important;
}

.count {
  font-size: 1.3em;
}

.picture {
  border-radius: 50%;
}

.intro_txt {
  font-size: 1.5em;
}

#main_header {
  margin-top: 3em;
}

.main_header_inner {
  text-align: center;
  padding: 10px 8em;
}

.main_header_inner h1 {
  margin-bottom: 1em;
}

.phone:hover {
  background: inherit;
  text-decoration: none;
}

.nav {
  text-align: center;
  background: black;
}

.btn {
  color: black!important;
  padding: 5px 20px!important;
}

.guest_header {
  text-align: center;
}

#guests_index {
  text-align: center;
}

.comments_header {
  margin-top: 5em;
  text-align: center;
}

.comment {
  text-align: center;
}
